:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-color: #4D5AE5;
    
}

.page {
    color: var(--primary-text-color);
    background-color: #E5E5E5;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
}

.list {
    list-style: none;
}

header {
    background-color: #FFFFFF;
}

.logo {
    color: var(--accent-color);
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.logo-span {
    color: var(--title-text-color);
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo:hover,
.logo:focus,
.logo-span:hover,
.logo-span:focus {
    color: var(--accent-color);
}

.site-nav .link {
    color: var(--title-text-color);
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
}


.auth-nav .link {
    color: var(--primary-text-color);
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
}

.site-nav .link:hover, 
.site-nav .link:focus,
.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accent-color);
}

.hero {
    background-color: var(--title-text-color);
}

.hero-title {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
}

.button {
    color: #FFFFFF;
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.04em;
    text-align: center;
}

.button:hover,
.button:focus {
    color: var(--accent-color);
}

.section-title {
    color: var(--title-text-color);
    font-weight: 600;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
}

.section-name {
    color:var(--title-text-color);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
}

.section-team {
    background-color: #F4F4FD;
}

.section-team-list {
    background-color: #FFFFFF;
}



.section-portfolio-list {
    background-color: #FFFFFF;
}

.section-portfolio-link {
    color: var(--primary-text-color);
    text-decoration: none;
}

.button-color {
    background-color: #F4F4FD;
    color: var(--accent-color);
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.04em;
    text-align: center;
}







footer {
    background-color: var(--title-text-color);
}

.logo-span-footer {
    color: #F4F4FD;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-span-footer:hover,
.logo-span-footer:focus {
    color: var(--accent-color);
}

.footer-text {
    color: #E7E9FC;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
}